<link rel="stylesheet" href="../css/carousel.css">
<!-- carousel main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <h1 class="swiper-slide__title">Latest News</h1>
            <img src="../images/cable1.jpeg" alt="Placeholder image with tag Apple">
        </div>
        <div class="swiper-slide">
            <h2 class="swiper-slide__title">Blog</h2>
            <img src="../images/cable2.jpeg" alt="Placeholder image with tag Google / Android" loading="lazy">
        </div>
        <div class="swiper-slide">
            <h2 class="swiper-slide__title">Events</h2>
            <img src="../images/cable3.jpg" alt="Placeholder image with tag Microsoft / Xbox" loading="lazy">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<script  src="../js/carousel.js"></script>
