<footer class="ct-footer">
    <div class="container-fluid">
      <div class="ct-footer-meta text-center-sm">
        <div class="row">
          <div class="col-sm-6 col-md-2">
            <!-- <img alt="logo" src="#" class="logo"> -->
            <img src="../images/logo.jpg" alt="logo" class="img-responsive">
          </div>
          <div class="col-sm-6 col-md-3">
            <address>
              <span>Sew<br></span>Lorem ipsum, Lorem ipsum<br>Lorem ipsum , Faridabad<br>
              Haryana, INDIA, 121002<br>
              <span>Phone: <a href="tel:+91999990000">(+91) 99999 90000</a></span>
            </address>
          </div>
          
          <div class="col-sm-6 col-md-4">
            <ul class="ct-socials list-unstyled">
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-facebook fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-twitter fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-linkedin fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;"> 
                <a href="" target="_blank"><i class="fab fa-instagram fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="../index.html">Home</a></li>
              <li><a href="#">About Us</a></li>
             <!-- / <li><a href="../start-up-cards-all.html"></a></li> -->
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 text-center" style="color: whitesmoke;">
  
              <p>
    Copyright ©<script>2020;</script> All rights reserved</p>
      <p>
                Developed By <a href="#"><u>Sakshi & Shabd</u></a></p>
            </div>
          </div> -->


      </div>
    </div>
    
  </footer>
  <!-- <script src="../js/footer.js"></script> -->