<link rel="stylesheet" href="./css/Information.css">
<!-- about us image -->
<!-- <div class="container-fluid"> -->

<div class="card text-black">
    <img class="card-img my-img" src="../images/pexels-miguel-á-padriñán-3785931.jpg" alt="no image">
    <div class="card-img-overlay">
        <h1 class="card-title topleft" style="font-size: 40px;color: navajowhite;">About Us</h1>
    </div>
</div>

<!-- image end  -->
<!--about us content -->
<div class="container">
    <!-- removed my-row -->
    <div class="row ">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h3><b>Our Factory Produces Reliable,<br> Efficient, Safe <br>& Sustainable Products..</b> </h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="font">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <li>Lorem Ipsum is simply dummy text of the printing industry.</li>
                <li>Lorem Ipsum is simply dummy text of the printing industry.</li>
            </div>
        </div>
    </div>
</div>
<!-- about us content end -->
<!-- about project start -->
<div class="container my-con" style="padding: 20px; margin: 20px;">
    <!-- <div class="grid"> -->
    <div class="row justify-content-around">
        <div class="card col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="imgBx">
                <img src="../images/pro1.jpg">
            </div>
            <div class="content">
                <h2>Card One</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <div class="card col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="imgBx">
                <img src="../images/pro1.jpg">
            </div>
            <div class="content">
                <h2>Card Two</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <div class="card col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="imgBx">
                <img src="../images/pro1.jpg">
            </div>
            <div class="content">
                <h2>Card Three</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- about project end  -->