<section id="StartupCards">
    <h3 style="text-align: center;padding-bottom: 5px;"><strong>OUR PRODUCTS</strong></h3>
    <div class="grid">
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/METAL-LATHE-C0636B-1000.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lathe Machine</h5>
                    <p class="card-text">This is a machine that rotates a workpiece about an axis of rotation to perform various operations with tools that are applied to the workpiece to create an object with symmetry.</p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/unnamed.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rigid Stranding Machine</h5>
                    <p class="card-text">This machine is used for stranding copper, steel and aluminium, stranding unilay and reverse concentric.</p>
                    <button class="card__btn" style="margin-bottom: 10px;">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/cable-rewinding-machine-500x500.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rewinding Lines</h5>
                    <p class="card-text">
                        This is engineered to wind wires or insulated cables from one reel size/type to a different reel size/type in order to prepare the product for a different internal process and packaging. </p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/H843818007eb94856a8e924158c9f02157.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Drum Twister Machine</h5>
                    <p class="card-text">This machine is widely used for effective cabling of round and sectored power cables. In addition to this, it is also used for closing of stranded conductors.</p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
    </div>

</section>