<section id="StartupCards">
    <h3 style="text-align: center;padding-bottom: 5px;"><strong>Our Products</strong></h3>
    <div class="grid">
        <div class="grid__item">
            <div class="card" style="width: 18rem;">

                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/pro1.jpg"
                        alt="Card image cap">
                </div>

                <div class="card-body">
                    <h5 class="card-title">Lathe Machine</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi molestiae porro soluta velit maxime aliquam.</p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/pro1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lathe Machine</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quisquam aperiam placeat nam nemo quibusdam </p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/pro1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lathe Machine</h5>
                    <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex cupiditate totam adipisci </p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/pro1.jpg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lathe</h5>
                    <p class="card-text">loopworm convert waste into protein, they farm 'Black Soldier Fly Larvae' on
                        food waste to produce premium animal feed and pet food.</p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/pro1.jpg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lathe Machine </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur achitecto voluptatum exercitationem perspiciatis hic ratione.</p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/pro1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lathe</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elits blandide commodi amet vero, quod deserunt.
                    </p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../images/pro1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lathe</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. afacilis laborum, nemo recusandae nostrum qui magnam odio veniam.
                    </p>
                    <button class="card__btn">Know More <span>&rarr;</span></button>
                </div>
            </div>
        </div>
    </div>

</section>