<link rel="stylesheet" href="../css/products.css">
<div class="container-fluid text-center " style="padding-top: 23vh;">
  
    <h3 class="text-center"><strong>Our Products</strong></h3>
    <div class="card-group row">
      
    <div class="col my-col ">
      
      <div class="card text-dark border-secondary shadow " style="width: 18rem;">
        <div class="shadow">
        <img src="../images/pro1.jpg" class="card-img-top my-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rigid Standing Machine</h5>
          <div class="my-line"></div>
          <p class="card-text">The machine is used for Stranding Copper, Steel and Aluminium. Stranding unilay and reverse Concentric.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      </div>
    </div>
      <div class="col my-col">
        
      <div class="card text-dark border-secondary shadow " style="width: 18rem;">
        <div class="shadow">
        <img src="../images/pro1.jpg" class="card-img-top my-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Armouring Machine</h5>
          <div class="my-line"></div>
          <p class="card-text">Rigid Armouring Machine is manufacturing in different design i.e. Fork/Cage Type.Stranding unilay and reverse Concentric.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
      <div class="col my-col">
      <div class="card text-dark border-secondary shadow " style="width: 18rem;">
        <div class="shadow">
        <img src="../images/pro1.jpg" class="card-img-top my-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Core Laying Machine</h5>
          <div class="my-line"></div>
          <p class="card-text">The machine is used for cabling the multi core (3.3 & 1/2, 4). PVC Cables, XLPE Cable in round or Sector Shaped.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
      <div class="col my-col">
      <div class="card text-dark border-secondary shadow " style="width: 18rem;">
        <div class="shadow">
        <img src="../images/pro1.jpg" class="card-img-top my-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rigid Standing Machine</h5>
          <div class="my-line"></div>
          <p class="card-text">The machine is used for Stranding Copper, Steel and Aluminium. Stranding unilay and reverse Concentric.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      </div>
    </div>
</div>