<link rel="stylesheet" href="../css/whoweare.css">
<div class="container-fluid text-center my-text" style="padding-top: 20vh;">
  
    <h3><strong>Who We Are</strong></h3>
    <h5><small>At SEW, our entire team is commited to helping you succeed, We have formed
      strongh, long-term working relationships with both clients and partners because we do what we say we'll do. Every time. All the time.
    </small></h5>
    <div class="row ">
      <div class="col text-center">
        <img src="../images/sands-of-time.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption">Founded in 1987</div>
        
      </div>
      <div class="col text-center">
        <img src="../images/sands-of-time.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption">15 Business Units</div>
        
      </div>
      <div class="col text-center">
        <img src="../images/sands-of-time.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption">250+ Employees</div>
        
      </div>
      <div class="col text-center">
        <img src="../images/sands-of-time.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption">25000+ Projects</div>
        
      </div>
      
    </div>
    <button type="button" class="btn btn-danger">Read More</button>
</div>