<link rel="stylesheet" href="../css/whoweare.css">
<div class="container-fluid text-center my-text" style="padding-top: 20vh;">
  
    <div class="parallax"><br><br><h3><strong>WHO WE ARE</strong></h3><br>
    <h5><small>At SEW, our entire team is commited to helping you succeed, We have formed
      strongh, long-term working relationships with both clients and partners because we do what we say we'll do. Every time. All the time.
    </small></h5>
    <div class="row ">
      <div class="col text-center">
        <img src="../images/sand-clock.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption"><strong>Founded in 1987</strong></div>
        
      </div>
      <div class="col text-center">
        <img src="../images/handshake.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption"><strong>15 Business Units</strong></div>
        
      </div>
      <div class="col text-center">
        <img src="../images/employee.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption"><strong>250+ Employees</strong></div>
        
      </div>
      <div class="col text-center">
        <img src="../images/project.png" class="rounded" alt="Image could not load" height="50px" width="50px">
        <div class="caption"><strong>25000+ Projects</strong></div>
        
      </div>
      
    </div>
    <button type="button" class="btn btn-danger">Read More</button>
  </div>
</div>